<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="drz.oddb">



    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--腾讯地图 SDK 要求的权限(开始)-->
    <!--访问网络获取地图服务-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--检查网络可用性-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 访问WiFi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--需要外部存储写权限用于保存地图缓存-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <!-- 修改WiFi状态，发起WiFi扫描, 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 访问网络的变化, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!-- 蓝牙扫描权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- 前台service权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <!-- 后台定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <!--获取 device id 辨别设备-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--腾讯地图 SDK 要求的权限(结束)-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="TencentMapSDK"
            android:value="VVZBZ-6J66X-7BE44-7XCPA-HYNOZ-BKF7M"/>

        <activity
            android:name=".TravelActivity"
            android:exported="false" />

        <service android:name=".MusicServer"
            android:exported="false">
            <intent-filter>
                <action android:name="com.angel.Android.MUSIC" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <activity
            android:name=".show.PrintResult"
            android:label="Print Result"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PRINTRST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".show.ShowTable"
            android:label="ShowTable"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".show.ShowObj"
            android:label="ShowObj"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".show.ShowSwi"
            android:label="ShowSwi"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".show.ShowDep"
            android:label="ShowDep"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".show.ShowBi"
            android:label="ShowBi"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".show.ShowCla"
            android:label="ShowCla"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>